build-essential
wget
curl
unzip
libffi-dev
ca-certificates
zlib1g-dev
node-less
libbz2-dev
libncurses5-dev
libgdbm-dev
libnss3-dev
libreadline-dev
libssl-dev 
fontconfig
libfreetype6
libjpeg62-turbo
libpng16-16
libx11-6
libxcb1
libxext6
libxrender1
xfonts-75dpi
xfonts-base
libxmlsec1-dev
pkg-config
postgresql-client
locales
